* {
  color: white;
}

html,
body,
#app {
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bg-img {
  background-image: url('./assets/code-coding-computer-data-574077.jpg');
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;

  background-position: center;
  background-size: cover;
}

.bg-grey {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  min-height: 100%;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(10px);
  padding-bottom: 20px;
}

.page {
  padding-top: 50px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

a.navbar-brand {
  color: white;
}

a.navbar-brand:hover {
  color: grey;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: grey;
}

.module {
  margin-bottom: 40px;
}

.card-img-top {
  height: 338px;
  width: 100%;
}

.card > * > *,
.card > * > * > *,
.card > * {
  color: black;
}

#profilePicture {
  background: url('./assets/me.jpg');
  background-size: cover;
  border-radius: 90px;
  width: 100px;
  height: 100px;
  margin: 10px 65px;
}
